<div class="side-bar-container">
  <section class="logo">
    <p><i>Awesome logo here</i></p>
  </section>

  <section class="menu-links">
    <ul>
      <li routerLink="/car-list" routerLinkActive="active"><i class="material-icons">view_list</i> Cars list </li>
      <li routerLink="/favorites" routerLinkActive="active"><i class="material-icons">star</i> Favorites</li>
    </ul>
  </section>

  <section class="user-info">
    <div class="user-name">John Snow</div>
    <div class="user-logo"></div>
  </section>
</div>
