<div class="create-holder">
  <h1>Create new Car</h1>

  <form>
    <input type="text" placeholder="Title" class="text-input">
    <input type="text" placeholder="Model" class="text-input">
    <input type="text" placeholder="Country" class="text-input">
    <input type="text" placeholder="price" class="text-input">
    <div class="input-holder">
      <input type="text" placeholder="Year" class="year text-input">
      <input type="color" class="color text-input">
    </div>
    <input type="submit" value="Create" class="submit">
  </form>

</div>
