<div class="menu-holder">
  <button (click)="filterCars('new')">New</button>
  <button (click)="filterCars('old')">Old</button>
  <button (click)="filterCars('expensive')">Expensive</button>
  <button (click)="filterCars('germany')">Germany</button>
  <button (click)="filterCars('italy')">Italy</button>
  <button (click)="filterCars('france')">France</button>
  <button (click)="filterCars('ukraine')">Ukraine</button>
  <button (click)="filterCars('japan')">Japan</button>
  <button (click)="filterCars()">All</button>
  <button (click)="changeView()">Change</button>
</div>


